@import './reset.scss';
@import './variable.scss';

html {
    scroll-behavior: smooth;
    user-select: none;
    background: rgba(0, 0, 0, 0.03);
}

* {
    scroll-behavior: smooth !important;
}

body {

    font-family: $PoppinsMedium;
    position: relative;
    height: 100vh;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    padding: 0;
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.link {
    font-family: $PoppinsMedium;
    font-size: 15px;
    font-weight: bolder;
}

.link-btn,
.btn,button {
    font-family: $PoppinsBold  !important;
    font-size: 18px !important;
    font-weight: none !important;
    padding: 20px 40px;
    background: $Primary-1;
    border-radius: 2rem;
    color: white;
    position: relative;
    overflow: hidden;
    align-self: flex-start;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 0.3s linear;
        background: rgba(255, 255, 255, 0.5);
    }

    &:active {
        &::after {
           opacity: 1.0;
        }

    }
}

@import './header.scss';
@import './banner.scss';
@import './shortenLink.scss';
@import './state.scss';
@import './boost.scss';
@import './footer.scss';
