.container_section-links-shortens {
    background: rgba(0, 0, 0, 0.03);
    padding: 100px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    grid-row-gap: 0;

    & .shorten-link-box {
        background: url("../icons/bg-shorten-desktop.svg") left/cover $Primary-2;
        height: auto;
        flex: none;
        padding: 30px;
        align-self: stretch;
        border-radius: 0.5rem;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 15px;
        position: relative;

        & .box {
            display: flex;
            flex-direction: column;
            grid-row-gap: 15px;
            height: 100%;
            width: 100%;
            position: relative;

            & .invalid-input {
                border-color: rgba($Secondary-1, 1.0);
                color: $Secondary-1;

                &::placeholder {
                    color: rgba($Secondary-1, 0.5);
                }
            }

            & input {
                height: 100%;
                width: 100%;
                padding: 20px;
                border: 3px solid rgba($Secondary-1, 0);
                outline: none;
                font-family: $Font;
                font-size: 18px;
                border-radius: 0.5rem;
                position: relative;
                transition: all 0.3s linear;
            }

            & .error-msg {
                color: $Secondary-1;
                font-size: 17px;
                font-style: italic;
                font-family: $Font;
                position: absolute;
                bottom: -40%;
                opacity: 0;
                transition: all 0.3s linear;

            }
        }

        & .btn {
            border: none;
            border-radius: 0.5rem;
            outline: none;
            cursor: pointer;
            flex: none;
            height: 100%;
            padding: 21px 30px;
            font-size: 15px;
        }
    }
}

.shorten-history {
    display: flex;
    flex-direction: column;
    grid-row-gap: 15px;
    width: 100%;
overflow: hidden;
    & .link-short {
        padding: 25px;
        border-radius: 0.3rem;
        flex: none;
        background: white;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        align-items: center;
        display: flex;
        overflow: hidden;
        & *{
            text-overflow: ellipsis !important;
        }
        & .link-no-shorten {
            font-family: $Font;
            font-size: 17px;
            color: $Neutral-4;
            font-weight: 500;
            transition: all 0.3s linear;

            &:hover {
                text-decoration: underline;
            }
        }

        & .link-shorted {
            margin-left: auto;
            font-family: $Font;
            font-size: 17px;
            color: $Primary-1;
            font-weight: 500;
            transition: all 0.3s linear;

            &:hover {
                text-decoration: underline;
            }
        }

        & .btn-copied-link {
            background: $Primary-2 !important;
            transition: all 0.3s linear;
        }

        & .btn-copy-link {
            border: none;
            border-radius: 0.2rem;
            outline: none;
            cursor: pointer;
            flex: none;
            padding: 10px 25px;
            width: 120px;
            font-size: 15px;
            margin-left: 15px;
            transition: all 0.3s linear;
        }
    }
}


@media only screen and (max-width: 1200px) {
    .container_section-links-shortens {
        padding: 50px;
        padding-top: 0;
    }
}

@media only screen and (max-width: 950px) {
    .link-short {
        flex-direction: column !important;
        grid-row-gap: 15px !important;
        align-items: stretch !important;
        padding-left: 0!important;
        padding-right: 0!important;
        & .link-shorted{
            margin-left: 0 !important;
            padding: 0 25px !important;
        }
         & .link-no-shorten{
            border-bottom: 1px solid rgba($Neutral-2,0.3) !important;
            padding: 0 25px 15px 25px !important;
            //padding-bottom: 15px;
         }
        & .btn-copy-link{
            align-self: stretch!important;
            width: auto !important;
            margin: 0 25px !important;
        }
    }
}

@media only screen and (max-width: 900px) {
    .container_section-links-shortens {
        padding: 20px;
        padding-top: 0;
    }
}



@media only screen and (max-width: 700px) {
    .shorten-link-box {
       flex-direction: column !important;
       grid-row-gap: 50px !important;
       & button{
        align-self: stretch !important;
       }
    }
}
